/* Банер */
.hero {
    background-color: var(--footer-bgrd);
    text-align: center;
    height: 600px;
    padding-bottom: 200px;
    align-items: center;
    background-size: cover;
    padding-top: 200px;
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-background.png);
    background-repeat: no-repeat;
    
    &-title {
        color: var(--bgrd-color);
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        padding-bottom: 30px;
        @media screen and (max-width: 1199px) {
                width: 360px;
                font-size: 26px;
                line-height: 1.62;
            }
        
            @media screen and (min-width: 1200px) {
                width: 696px;
                font-size: 44px;
                line-height: 1.36;
                margin-left: auto;
                margin-right: auto;
            }
        
            @media screen and (min-width: 320px)and (max-width: 479px) {
                display: block;
                width: 290px;
            }
    }
}

