/* Кнопка банера */

.hero-button {
    font-weight: 700;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--bgrd-color);
    background: var(--accent-color);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 216px;
    height: 50px;
    border: none;
    cursor: pointer;
      
    
    &:focus,
    &:active {
        background: #188CE8;
        border: 1px solid #000000;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
    }
}



.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    background: #F5F4FA;
    border: none;
    border-radius: 4px;
    padding: 6px 22px;

    color: var(--title-text-color);
    font-family: inherit;
    cursor: pointer;
}
.secondary {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0px 4px 4px rgba(0, 0, 0, 0.25) 250ms cubic-bezier(0.4, 0, 0.2, 1), color var(--bgrd-color) 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--bgrd-color);
        background-color: var(--accent-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

