/* Основна частина */

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-2 {
    padding-bottom: 94px;
}


.content-box-1 {
    /* align-items: center; */
    width: 270px;
    margin-right: 30px;
}

.icon-box-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    margin-right: 10px;
    background-color: #F5F4FA;
}

.svg-box-1 {
    background-color: #F5F4FA;
}

.content-box-2 {
    position: relative;
    margin-right: 30px;
    padding-top: 50px;
}

.content-box-3 {
    width: 270px;
    padding-bottom: 30px;
    margin-top: 50px;
    margin-right: 30px;
    align-items: center;
    background-color: #fff;
    text-align: center;
    border-radius: 0px 0px 4px 4px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.card {
    font-style: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--title-text-color);
}

.card-team {
    padding-top: 30px;

}



.h2-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-text-color);
    font-weight: 700;

    line-height: 2;
    /* identical to box height, or 200% */

    letter-spacing: 0.06em;

}

.title-style {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--title-text-color);
}

.card-content {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    font-style: inherit;
    padding-top: 10px;
    padding-bottom: 16px;
}

.content-style {
    font-style: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

}

.section-team {
    background-color: #F5F4FA;
    height: 648px;
    padding-top: 94px;
    padding-bottom: 94px;
    background-size: cover;
}
.clients-icons{
    fill:var(--primary-text-color);
    
    &:hover{
        fill:var(--accent-color);
        border-color: var(--accent-color);
    }
}
